@media (min-width: 992px) {

	#navi img{
		width:400px;
	}
	
	#thesisStatement{
		font-size : 35px;
		line-height:1.0em;
	}
	
	#aboutClick{
		font-size:40px;
	}
	
	#revealAll{
		font-size:40px;
	}
	
	.space{
		width:100px;
		position:relative;
		display:inline-block;
		font-size:2px;
		line-height:2px;
		height:1%;
		z-index:9999999;
		color:black;
	}
	
	.space p{
		line-height:3px;
			margin:0;
			margin-bottom : 1em;
		z-index:999;
	}
	
	.space h1{
		font-size:4px;
		line-height:5px;
		margin:0;
	}
	
	.studentPics{
		width:26px;
		float:left;
		margin-right:5px;
	}
	
	.studentText{
		width:45px;
		float:left;
		margin-right:5px;
	}
	
	.studentInfo{
		vertical-align:text-bottom;
		width:16px;
		float:left;
	  margin-top : 43px
	}
	
	.studentInfo b {
		color : white;
		font-weight : normal;
	}
	
	.pilcrow {
		font-size : 5px;
	}

}

@media (max-width:700px) and (min-width:400px) {

#navi img{
	width:300px;
}

#thesisStatement{
    font-size : 25px;
	line-height:1.2em;
}

#aboutClick{
	font-size:40px;
}

#revealAll{
	font-size:40px;
}

}
