#aboutClick{
	margin-right: 10px;
}


@media screen and (max-width: 767px) {

	#navi img{
		width:200px;
	}

	#navi {
		height: 70px;
	}

	#navText {
		font-size:19px;
	}

	#thesisStatement{
		font-size : 19px;
		line-height:1.2;
		margin-top: 20px;
	}

	#aboutClick{
		font-size:19px;
	}

	#revealAll{
		font-size: 19px;
	}


	#about h2 {
		font-size: 20px;
		line-height: 26px;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h4 {
		font-size: 20px;
		line-height: 26px;
		font-weight: bold;
		margin-bottom: -4px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 14px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 14px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:17px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 5px;
		color: black;
	}

	.prevo {
		margin-right: 0px;
	}

	.space{
		width:250px;
		min-height: 500px;
		max-height: 500px;
		overflow: scroll;
		position:relative;
		display:inline-block;
		z-index:9999999;
	}

	.space p{
		margin:0;
		z-index:999;
	}

	.space h1{
		margin:0;
	}

	.space h2{
		margin:0;
	}

	.space .studentText h1 {
		font-size:19px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 30px;
		color: white;
	}

	.space .studentInfo h1{
		font-size:19px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: -15px;
		color: white;
	}

	.space .studentText p {
		font-size: 15px;
		line-height:1.3;
		float: left;
		margin-right:5px;
		margin-bottom: 9px;
		color: black;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: 15px;
		line-height:1.3;
		margin-bottom: 0px;
	}

	.space .studentInfo p {
		font-size: 15px;
		line-height:1.3;
		float: left;
		margin-top:1px;
		margin-bottom:2px;
		z-index:999;
		color: black;
	}

	.studentPics{
		width:250px;
		float:left;
		margin-right:5px;
		margin-top: 0;

	}

	.studentText{
		width:250px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:250px;
		float:left;
		margin-top : 43px
	}


}


@media screen and (min-width: 768px) and (max-width: 992px) {

	#navi img{
		width:400px;
	}

	#navText {
		font-size:29px;
	}

	#thesisStatement{
		font-size : 29px;
		line-height:1.2;
	}

	#aboutClick{
		font-size:29px;
	}

	#revealAll{
		font-size: 29px;
	}

	#about h2 {
		font-size: 26px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 0;
	}

	#about h4 {
		font-size: 26px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: -7px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 14px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 14px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:18px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 14px;
		color: black;
	}

	.space{
		width:150px;
		min-height: 120px;
		max-height: 120px;
		position:relative;
		display:inline-block;
		z-index:9999999;
	}

	.space p{
		margin:0;
		z-index:999;
	}

	.space h1{
		margin:0;
	}

	.space h2{
		margin:0;
	}

	.space .studentText h1 {
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h1{
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: .11em;
		line-height:1.3;
		margin-bottom: 0px;
	}

	.space .studentText p {
		font-size: .11em;
		line-height:1.3;
		float: left;
		margin-right:5px;
		margin-bottom: 3px;
		color: black;
	}

	.space .studentInfo p {
		font-size: .11em;
		line-height:1.3;
		float: left;
		margin-top:0px;
		margin-bottom:3px;
		z-index:999;
		color: black;
	}

	.studentPics{
		width:40px;
		float:left;
		margin-right:5px;
		margin-top: 0;

	}

	.studentText{
		width:75px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}

}


@media screen and (min-width: 993px) and (max-width: 1200px) {

#navi img{
		width:400px;
	}

	#thesisStatement{
		font-size : 29px;
		line-height:1.2;
	}

	#aboutClick{
		font-size:29px;
	}

	#revealAll{
		font-size: 29px;
	}

	#about h2 {
		font-size: 26px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 0;
	}

	#about h4 {
		font-size: 26px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: -7px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 16px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 16px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:19px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 14px;
		color: black;
	}

	.space{
		width:200px;
		min-height: 120px;
		max-height: 120px;
		position:relative;
		display:inline-block;
		z-index:9999999;
	}

	.space p{
		margin:0;
		z-index:999;
	}

	.space h1{
		margin:0;
	}

	.space h2{
		margin:0;
	}

	.space .studentText h1 {
		font-size:6px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h1{
		font-size:6px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: 4px;
		line-height:1.3;
		margin-bottom: 0px;
	}

	.space .studentText p {
		font-size: .13em;
		line-height:1.3;
		float: left;
		margin-right:5px;
		margin-bottom: 3px;
		color: black;
	}

	.space .studentInfo p {
		font-size: .13em;
		line-height:1.3;
		float: left;
		margin-top:1px;
		margin-bottom:2px;
		z-index:999;
		color: black;
	}

	.studentPics{
		width:55px;
		float:left;
		margin-right:5px;
		margin-top: 0;

	}

	.studentText{
		width:100px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}

	html{
		overflow:hidden;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1439px) {


	#navi img{
		width:400px;
	}

	#thesisStatement{
		font-size : 36px;
		line-height:1.2;
	}

	#aboutClick{
		font-size:29px;
	}

	#revealAll{
		font-size: 29px;
	}

	#about h2 {
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 0;
	}

	#about h4 {
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;
		margin-bottom: -7px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 18px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 18px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:21px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 14px;
		color: black;
	}

	.space{
		width:200px;
		min-height: 100px;
		max-height: 100px;
		position:relative;
		display:inline-block;
		z-index:9999999;
	}

	.space p{
		margin:0;
		z-index:999;
	}

	.space h1{
		margin:0;
	}

	.space h2{
		margin:0;
	}

	.space .studentText h1 {
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h1{
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: 3px;
		line-height:1.3;
		margin-bottom: 0px;
	}

	.space .studentText p {
		font-size: .09em;
		line-height:1.3;
		float: left;
		margin-right:5px;
		margin-bottom: 3px;
		color: black;
	}

	.space .studentInfo p {
		font-size: 3px;
		line-height:1.3;
		float: left;
		margin-top:1px;
		margin-bottom:2px;
		z-index:999;
		color: black;
	}

	.studentPics{
		width:45px;
		float:left;
		margin-right:5px;
		margin-top: 0;

	}

	.studentText{
		width:100px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}

	html{
		overflow:hidden;
	}

}


@media screen and (min-width: 1440px) {

	#navi img{
		width:400px;
	}

	#navText {
		font-size:36px;
	}

	#thesisStatement{
		font-size : 36px;
		line-height:1.2;
	}

	#aboutClick{
		font-size:36px;
	}

	#revealAll{
		font-size: 36px;
	}

	#about h2 {
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 0;
	}

	#about h4 {
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;
		margin-bottom: -7px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 20px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 17px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:20px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:4px;
		margin-top: 14px;
		color: black;
	}

	.space{
		width:200px;
		min-height: 100px;
		max-height: 100px;
		position:relative;
		display:inline-block;
		z-index:9999999;
	}

	.space p{
		margin:0;
		z-index:999;
	}

	.space h1{
		margin:0;
	}

	.space h2{
		margin:0;
	}

	.space .studentText h1 {
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h1{
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: 3px;
		line-height:1.3;
		margin-bottom: 0px;
	}

	.space .studentText p {
		font-size: .09em;
		line-height:1.3;
		float: left;
		margin-right:5px;
		margin-bottom: 3px;
		color: black;
	}

	.space .studentInfo p {
		font-size: 3px;
		line-height:1.3;
		float: left;
		margin-top:1px;
		margin-bottom:2px;
		z-index:999;
		color: black;
	}

	.studentPics{
		width:45px;
		float:left;
		margin-right:5px;
		margin-top: 0;

	}

	.studentText{
		width:100px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}

	html{
		overflow:hidden;
	}

}
