#aboutClick{
	margin-right: 10px;
}


@media screen and (max-width: 768px) {

	#navi img{
		width:200px;
	}

	#navi {
		height: 70px;
	}

	#thesisStatement{
		font-size : 18px;
		line-height:1.2;
	}

	#aboutClick{
		font-size:18px;
	}

	#revealAll{
		font-size: 18px;
	}

	#about h2 {
		font-size: 30px;
		line-height: 35px;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h4 {
		font-size: 30px;
		line-height: 35px;
		font-weight: bold;
		margin-bottom: -7px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 19px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 19px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:24px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 14px;
		color: black;
	}

	#revealAll{
		font-size:32px;
	}

	.space{
		width:250px;
		min-height: 500px;
		max-height: 500px;
		overflow: scroll;
		position:relative;
		display:inline-block;
		z-index:9999999;
	}

	.space p{
		margin:0;
		z-index:999;
	}

	.space h1{
		margin:0;
	}

	.space h2{
		margin:0;
	}

	.space .studentText h1 {
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h1{
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: 3px;
		line-height:1.3;
		margin-bottom: 0px;
	}

	.space .studentText p {
		font-size: 3px;
		line-height:1.3;
		float: left;
		margin-right:5px;
		margin-bottom: 3px;
		color: black;
	}

	.space .studentInfo p {
		font-size: 3px;
		line-height:1.3;
		float: left;
		margin-top:1px;
		margin-bottom:2px;
		z-index:999;
		color: black;
	}

	.studentPics{
		width:250px;
		float:left;
		margin-right:5px;
		margin-top: 0;

	}

	.studentText{
		width:250px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:250px;
		float:left;
		margin-top : 43px
	}


}


@media screen and (min-width: 768px) and (max-width: 992px) {

	#navi img{
		width:400px;
	}

	#thesisStatement{
		font-size : 29px;
		line-height:1.2;
	}

	#aboutClick{
		font-size:29px;
	}

	#revealAll{
		font-size: 29px;
	}

	#about h2 {
		font-size: 26px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 0px;
		margin-top: 0;
	}

	#about h4 {
		font-size: 26px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: -7px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 14px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 14px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:18px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 14px;
		color: black;
	}

	.space{
		width:135px;
		min-height: 120px;
		max-height: 120px;
		position:relative;
		display:inline-block;
		z-index:9999999;
	}

	.space p{
		margin:0;
		z-index:999;
	}

	.space h1{
		margin:0;
	}

	.space h2{
		margin:0;
	}

	.space .studentText h1 {
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h1{
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: white;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: 3px;
		line-height:1.3;
		margin-bottom: 0px;
	}

	.space .studentText p {
		font-size: 3px;
		line-height:1.3;
		float: left;
		margin-right:5px;
		margin-bottom: 3px;
		color: black;
	}

	.space .studentInfo p {
		font-size: 3px;
		line-height:1.3;
		float: left;
		margin-top:1px;
		margin-bottom:2px;
		z-index:999;
		color: black;
	}

	.studentPics{
		width:40px;
		float:left;
		margin-right:5px;
		margin-top: 0;

	}

	.studentText{
		width:60px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

	#about {
		position:absolute;
		background-color : #fff;
		color: black;
		font-size: 24px;
		float:right;
		width:100%;
		z-index:999;
		margin-top:1000px;
	}

	#navi img{
		width:450px;
	}

	#thesisStatement{
		font-size : 35px;
		line-height:1.2;
	}

	#aboutClick{
		font-size:40px;
	}

	#revealAll{
		font-size:40px;
	}

	#about h2 {
		font-size: 30px;
		line-height: 35px;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h4 {
		font-size: 30px;
		line-height: 35px;
		font-weight: bold;
		margin-bottom: -7px;
		margin-top: 0;
	}

	#about .AboutText p {
		font-size: 18px;
		line-height:1.3;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 18px;
		line-height:1.3;
		margin-bottom: 0;
		margin-top: 0;
	}

	#about h3 {
		font-size:24px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 14px;
		color: black;
	}


	.space{
		width:135px;
		min-height: 100px;
		max-height: 100px;
		position:relative;
		display:inline-block;
		font-size:2px;
		line-height:2px;
		height:1%;
		z-index:9999999;
		color:black;
	}

	.space p{
		font-size: 3px;
		line-height:3px;
			margin:0;
			margin-bottom : 1em;
		z-index:999;
	}

	.space h1{
		font-size:7px;
		line-height:1;
		font-weight: bold;
		margin:0;
	}


	.space .studentInfo h1{
		font-size:5px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: black;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: normal;
		font-size: 115%;
		line-height:1.5;
		margin-top: 2px;
		margin-bottom: -1px;
	}

	.space .studentInfo p{
		font-size: 115%;
		line-height:1.5;
		margin-top:0em;
		margin-bottom: 0em;
		z-index:999;
	}

	.space .studentText p {
		float: left;
		margin-right:5px;
		margin-bottom: 2px;
		font-size: 135%;
		line-height:1.45;
	}

	.space .studentText h2 {
		font-size:5px;
		color:white;
		line-height:1;
		font-weight: bold;
		margin-bottom: 2px;
		margin-top: 0;
	}

	.space .studentText h1 {
		font-family: 'FoundersGrotesk';
		margin-bottom: 3px;
	}

	.studentPics{
		width:40px;
		float:left;
		margin-right:5px;
		margin-top: 0;
	}

	.studentText{
		width:60px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}


	.pilcrow {
		font-size : 5px;
	}

}



@media screen and (min-width: 1201px) and (max-width: 1439px) {


	#thesisStatement{
		font-size : 38px;
		line-height:1.2;
	}

	#about .AboutText p {
		font-size: 22px;
		line-height:1.2;
		margin-bottom: 9px;
		margin-top: 0;
	}

	#about .AboutHalf p {
		font-size: 22px;
		line-height:1.2;
		margin-bottom: 0;
		margin-top: 0;
	}

	#navi img{
		width:500px;
	}

	.space{
		width:135px;
		min-height: 120px;
		max-height: 120px;
		position:relative;
		display:inline-block;
		font-size:2px;
		line-height:2px;
		z-index:9999999;
		color:black;
	}

	.space p{
		font-size: 5px;
		line-height:3px;
			margin:0;
			margin-bottom : 1em;
		z-index:999;
	}

	.space h1{
		font-size:9px;
		line-height:1.2;
		font-weight: bold;
		margin:0;
	}


	.space .studentInfo h1{
		font-size:7px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: black;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: regular;
		font-size: 125%;
		line-height:1.6;
		margin-top: 2px;
		margin-bottom: -1px;
	}

	.space .studentInfo p{
		font-size: 135%;
		line-height:1.3;
		margin-top:0em;
		margin-bottom: 0em;
		z-index:999;
	}

	.space .studentText p {
		float: left;
		margin-right:5px;
		margin-bottom: 2px;
		font-size: 155%;
		line-height:1.2;
	}

	.space .studentText h2 {
		font-size:5px;
		color:white;
		line-height:1;
		font-weight: bold;
		margin-bottom: 2px;
		margin-top: 0;
	}

	.space .studentText h1 {
		font-family: 'FoundersGrotesk';
		margin-bottom: 3px;
	}

	.studentPics{
		width:40px;
		float:left;
		margin-right:5px;
		margin-top: 0;
	}

	.studentText{
		width:60px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}

html{
	padding:0;
	overflow: hidden;
}

}

@media screen and (min-width: 1440px) {


	#thesisStatement{
		font-size : 35px;
		line-height:1.2;
	}
    #about .AboutText p {
		font-size: 26px;
		line-height:1.2;
		margin-bottom: 18px;
		margin-top: 0;
	}

    #about .AboutHalf p {
		font-size: 26px;
		line-height:1.2;
		margin-bottom: 0;
		margin-top: 0;
	}
    #about h2 {
		font-size: 34px;
		line-height: 35px;
		font-weight: bold;
		margin-bottom: 0;
		margin-top: 0;
	}
    #about h4 {
		font-size: 34px;
		line-height: 35px;
		font-weight: bold;
/*		margin-bottom: -5px;*/
		margin-top: 0;
	}

    #about h3 {
		font-size:24px;
		line-height:1.3;
		font-weight: bold;
		margin-bottom:2px;
		margin-top: 14px;
		color: black;
	}


	#navi img{
		width:550px;
	}

.space{
		width:135px;
		min-height: 120px;
		max-height: 120px;
		position:relative;
		display:inline-block;
		font-size:2px;
		line-height:2px;
		z-index:9999999;
		color:black;
	}

	.space p{
		font-size: 5px;
		line-height:3px;
			margin:0;
			margin-bottom : 1em;
		z-index:999;
	}

	.space h1{
		font-size:9px;
		line-height:1.2;
		font-weight: bold;
		margin:0;
	}


	.space .studentInfo h1{
		font-size:7px;
		line-height:1;
		font-weight: bold;
		margin-bottom:2px;
		color: black;
	}

	.space .studentInfo h2 {
		color: white;
		font-weight: regular;
		font-size: 125%;
		line-height:1.6;
		margin-top: 2px;
		margin-bottom: -1px;
	}

	.space .studentInfo p{
		font-size: 135%;
		line-height:1.3;
		margin-top:0em;
		margin-bottom: 0em;
		z-index:999;
	}

	.space .studentText p {
		float: left;
		margin-right:5px;
		margin-bottom: 2px;
		font-size: 155%;
		line-height:1.2;
	}

	.space .studentText h2 {
		font-size:5px;
		color:white;
		line-height:1;
		font-weight: bold;
		margin-bottom: 2px;
		margin-top: 0;
	}

	.space .studentText h1 {
		font-family: 'FoundersGrotesk';
		margin-bottom: 3px;
	}

	.studentPics{
		width:40px;
		float:left;
		margin-right:5px;
		margin-top: 0;
	}

	.studentText{
		width:60px;
		float:left;
		margin-right:5px;
	}

	.studentInfo{
		vertical-align:text-bottom;
		width:25px;
		float:left;
	  margin-top : 43px
	}

html{
	padding:0;
	overflow: hidden;
}

}
