@charset "UTF-8";
/* CSS Document */
@font-family-base {
    font-family: FoundersGrotesk;
    src: local("font/Helvetica Neue Bold"),
    local("HelveticaNeue-Bold"),
    url(MgOpenModernaBold.ttf);
    font-weight: normal;
}

body {
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#59cbe8;
    font-weight:400;
}

a {
    text-decoration:none;
    color: white;
}

/* will turn statement text white*/
b{
    color:white;
    font-weight:500;
}

#logo{
    float:left;
}

.buttons{
    color:white;
    font-size:36px;
    float:right;
}

/* #mainContainer{ */
/* 	height:100vh; */
/* 	position:relative; */
/* } */

#thesisStatement{
    font-size : 29px;
    width : 60%;
    height : 20%;
    left : 20%;
    top : 20%;
    position : absolute;
}

footer{
    width : 60%;
    left : 20%;
    height : 20vh;
    position : absolute;
    top : 100vh;
    padding-bottom : 50px;
}

.footerHalf{
    width:40%;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:5%;
}

.footerText{
    width:100%;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    padding-bottom:50px;
}

#thesisStatement a {
    color : black;
}

#thesisStatement b {
    color : white;
}

#currentcontent {
    z-index : 10;
    background-color : #59cbe8;
}
span.project {
    display : none;
}

.sidebar {
    height : 900px;
    z-index : 100000;
}

.brand {
    width : 300px;
}